<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blog: What did I learn today?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/styles.css">
    </head>
    <body>
        <div id="about-container">
            <header id="site-head">
                <h1 id="title"><a href="./../../index.html">Front End Trends</a></h1>
                <nav id="links">
                    <a href="./about.html">About</a>
                    <a href="./designsystem.html">Design System</a>
                </nav>
            </header>
            <section class="about__title">
                <h2 id="about__title-header">Hi, I'm Tiff</h2>
                <p id="about__title-description">I'm a web developer with a passion for all things full stack, but front end is my specialty.</p>
            </section>
            <section id="about__image">
                <img src="../assets/images/tiff.jpg" alt="Tiff Kaiser" class="about__image-responsive" />
            </section>
            <main id="about">
                <section class="about__work-experience">
                    <h2 class="about__section-title">Work Experience</h2>
                    <p class="about__description">I have worked as a web developer for 5 years now. I worked for a marketing automation startup for 1 year, and JPMorgan Chase for a little over 4 years.</p>
                </section>
                <section class="about__hobbies">
                    <h2 class="about__section-title">Hobbies</h2>
                    <p class="about__description">When I'm not working on web development, I'm playing blues guitar or watching horror films.</p>
                </section>
            </main>
        </div>
        <footer id="copyright">Copyright ©Front End Trends 2020</footer>
    </body>
</html>