<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blog: Front End Trends</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/styles.css">
    </head>
    <body>
        <div id="blogpost-container">
            <header id="blogpost-head">
                <h1 id="title"><a href="./../../index.html">Front End <span id="title-style">Trends</span></a></h1>
                <nav id="links">
                    <a href="./about.html">About</a>
                    <a href="./designsystem.html">Design System</a>
                </nav>
            </header>
            <main id="blogpost-content">
                <h2>Blogpost Title</h2>
                <article>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue lorem et massa aliquet, sed mattis nibh interdum. Maecenas viverra sit amet dui ac cursus. In pharetra elementum imperdiet. Nullam porttitor vel turpis eu convallis. Vivamus tincidunt metus vitae pharetra auctor. Donec semper odio quis massa euismod, vel auctor arcu faucibus. Duis et arcu sodales, luctus metus et, imperdiet odio. Vivamus et volutpat eros. Sed lacinia tortor quis odio pretium, nec molestie nulla vulputate. Morbi sit amet neque et nibh placerat finibus ac ac nulla. Morbi ultricies eleifend faucibus. Sed mollis augue id diam luctus, quis ultricies tortor scelerisque. Sed tempor ac mi ac porta. Proin sit amet magna ut velit ultrices consequat et pellentesque elit. Nunc neque purus, placerat sit amet odio eget, porttitor cursus nisl. In sit amet ante ut tellus pretium vulputate vitae commodo leo.
                    
                    Sed interdum sapien eu ultrices dictum. In ac dui at ex pellentesque vehicula. Quisque interdum, sem non dignissim vestibulum, turpis metus tincidunt nisl, ut porttitor nibh est eu nibh. Aliquam et suscipit ex. Donec euismod diam in justo sodales feugiat. Pellentesque nec laoreet est. Aenean gravida accumsan consequat. Sed eleifend ligula vel enim pretium lacinia. In consequat massa eu vehicula pulvinar. Proin sagittis ante quis velit fermentum congue. Ut non felis egestas, pulvinar tellus a, ornare mi. In a porttitor velit. Maecenas ante felis, tempor quis porta et, elementum ac est.
                    
                    Morbi venenatis interdum vehicula. Nam eu enim massa. Curabitur justo lorem, rutrum ac est sit amet, venenatis tempor odio. Vestibulum velit est, venenatis in ligula sed, malesuada gravida libero. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam lobortis et mauris ac ornare. In feugiat lectus ut justo venenatis tincidunt. Maecenas lobortis dolor mauris, nec vestibulum risus aliquet a. Quisque tincidunt auctor justo vitae placerat. Mauris vel augue viverra, tincidunt lorem at, facilisis mi. Nunc accumsan odio libero, id tempor turpis venenatis sed. Vivamus aliquam tincidunt ligula eu vulputate. Nam id lectus at lacus sollicitudin pellentesque.
                </article>
            </main>
            <footer id="blogpost-copyright">Copyright ©Front End Trends 2020</footer>
        </div>
    </body>
</html>