<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blog: What did I learn today?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/styles.css">
    </head>
    <body>
        <div id="design-container">
            <header id="site-head">
                <h1 id="title"><a href="./../../index.html">Front End <span id="title-style">Trends</span></a></h1>
                <nav id="links">
                    <a href="./about.html">About</a>
                    <a href="./designsystem.html">Design System</a>
                </nav>
            </header>
            <main id="design-system">
                <section id="color-palette" class="design-system__element">
                    <h2>Color Palette</h2>
                    <ul>
                        <li class="teal" tabindex="0" aria-label="teal">#6CB5BE</li>
                        <li class="white" tabindex="0" aria-label="white">#FFFFFF</li>
                        <li class="light-grey" tabindex="0" aria-label="light grey">#EFE8E7</li>
                        <li class="red" tabindex="0" aria-label="red">#BD120A</li>
                        <li class="slate-grey" tabindex="0" aria-label="slate grey">#708090</li>
                        <li class="black" tabindex="0" aria-label="black">#000000</li>
                    </ul>
                </section>
                <section class="design-system__element">
                    <h2>Typography</h2>
                    <ul>
                        <li><p class="helvetica-light">Helvetica Light</p></li>
                        <li><p class="helvetica-bold">Helvetica Bold</p></li>
                    </ul>
                </section>
                <section class="design-system__element">
                    <h2>Sizing</h2>
                    <ul>
                        <li><h1>Heading 1</h1></li>
                        <li><h2>Heading 2</h2></li>
                        <li><h3>Heading 3</h3></li>
                        <li><h4>Heading 4</h4></li>
                        <li><h5>Heading 5</h5></li>
                        <li><h6>Heading 6</h6></li>
                        <li><p>Paragraph</p></li>
                    </ul>
                </section>
            </main>
        </div>
        <footer id="copyright">Copyright ©Front End Trends 2020</footer>
    </body>
</html>