@import './component_variables/blogpost_gallery.css';

#blogposts {
    margin-top: 4rem;
}

#blogposts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}

.blogposts__list-item {
    background-color: var(--blogpost-card-background-color);
    list-style-type: none;
    border: 1px solid var(--blogpost-card-border-color);
    width: 15rem;
    height: 15rem;
    position: relative;
    margin: 1rem;
    border-radius: 3px;
}

.blogposts__list-item:hover {
    background-color: var(--blogpost-card-hover-color);
}

.blogposts__list-item-link {
    text-decoration: none;
    color: var(--blogpost-text-color);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.blogposts__list-item-link-description-subtitle {
    color: var(--blogpost-subtitle-text-color);
}

.blogposts__list-item-link:hover {
    color: var(--blogpost-card-hover-text-color);
}

.blogposts__list-item-link:hover .blogposts__list-item-link-description-subtitle,
.blogposts__list-item-link:hover .blogposts__list-item-link-description-author {
    color: var(--blogpost-card-hover-text-color);
}

.blogposts__list-item-link-category {
    font-family: myHelveticaBold, 'sans-serif';
    margin: 0;
    padding: 0.3125rem;
    background-color: var(--blogpost-card-category-background-color);
    color: var(--white);
}

.blogposts__list-item-link-description {
    padding: 0.25rem;
}

.blogposts__list-item-link-description-author {
    font-size: 0.75rem;
    position: absolute;
    bottom: 0.375rem;
    color: var(--blogpost-author-text-color);
}

@media screen and (min-width: 786px) {
    #blogposts {
        grid-column: span 2;
    }

    #blogposts-list {
        justify-content: space-evenly;
    }
}