@import './component_variables/blogpost_gallery.css';

#blogposts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}

.blogposts__list-item {
    background-color: var(--blogpost-card-background-color);
    list-style-type: none;
    border: 1px solid var(--blogpost-card-border-color);
    width: 10rem;
    height: 10rem;
    position: relative;
    margin: 1rem;
    border-radius: 3px;
    padding: 0.25rem;
}

.blogposts__list-item:hover {
    background-color: var(--blogpost-card-hover-color);
}

.blogposts__list-item-link {
    text-decoration: none;
    color: var(--blogpost-text-color);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.blogposts__list-item-link:hover {
    color: var(--blogpost-card-hover-text-color);
}

@media screen and (min-width: 622px) {
    #blogposts {
        grid-column: span 2;
    }

    #blogposts-list {
        justify-content: space-between;
    }
}