@import './component_variables/landingpage.css';

/* mobile-first approach */
/* all styles are for sm and below */

#content-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
}

#title a {
    text-decoration: none;
    color: var(--landingpage-title-color);
}

#links {
    display: flex;
    justify-content: space-evenly;
}

#links a {
    text-decoration: none;
    color: var(--landingpage-nav-color);
}

#site-head, #copyright {
    text-align: center;
    grid-column: span 2;
}

#copyright {
    color: var(--landingpage-footer-color);
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}


@media screen and (min-width: 786px) {
    #content-container {
        grid-template-columns: 1fr 1fr;
    }

    #site-head {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        padding-left: 1.25rem;
    }

    #links {
        align-items: center;
        justify-content: flex-end;
    }

    #links a {
        margin: 1.5rem;
    }
}

@media screen and (min-width: 1000px) {
    body {
        margin: 0 4rem;
    }
}