@import './component_variables/page.css';
@import './landingpage.css';
@import './blogpost_gallery.css';
@import './about.css';
@import './design_system/typography.css';
@import './blogpost.css';

html, body {
    background-color: var(--page-background-color);
    color: var(--page-text-color);
    font-family: myHelveticaLight, 'sans-serif';
    height: 100%;
    margin: 0 2rem;
}