@import './component_variables/page.css';
@import './landingpage.css';
@import './blogpost_gallery.css';

html, body {
    background-color: var(--page-background-color);
    color: var(--page-text-color);
    font-family: myHelveticaLight, 'sans-serif';
}

@font-face {
    font-family: myHelveticaLight;
    src: local("Helvetica Neue Light"),
         local("HelveticaNeue-Light"),
         url(HelveticaNeueLight.ttf);
}

@font-face {
    font-family: myHelveticaBold;
    src: local("Helvetica Neue Bold"),
         local("HelveticaNeue-Bold"),
         url(HelveticaNeueBold.ttf);
}